<ion-view view-title="Contact">
    <ion-content>
        <a class="item item-avatar" ui-sref="chat">
            <img src="./img/388833612.jpeg">
            <h2>Han Eijnsbergen</h2>
            <p>Livechat met Han Eijnsbergen</p>
        </a>
        <a href="tel:+0031-7863-989-89" class="item item-icon-left">
            <i class="icon ion-ios-telephone"></i>
            Neem telefonisch contact op met de gemeente
        </a>
        <a href="mailto:gemeentebestuur@dordrecht.nl" class="item item-icon-left">
            <i class="icon ion-ios-email"></i>
            Neem contact op met de gemeente
        </a>
    </ion-content>
</ion-view>