<ion-view view-title="Eigen Sensor">
    <ion-content ng-controller="SensorGraphCtrl">
        <div class="card" style="width:90%; margin: auto;">
            <div class="item item-divider">
                Grafiek Grondwaterpeil & Eigen Sensor data
            </div>
            <div class="item item-text-wrap">
                <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="true" chart-series="series" chart-options="{showTooltips: true}"></canvas>
            </div>
        </div>
    </ion-content>
</ion-view>
