<ion-view view-title="AquaToon">
  <ion-content class="padding">
    <div class="row" style="flex-wrap: wrap;">
      <!--<div class="col col-50">-->
        <!--<div class="list card dashcard" style="background-color:#e67e22;">-->
          <!--<div class="card-image-text">Bodemkwaliteit</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col col-50">-->
        <!--<div class="list card dashcard" style="background-color:#3498db;">-->
          <!--<div class="card-image-text">Grondwaterpeil</div>-->
        <!--</div>-->
      <!--</div>-->

      <div ui-sref="graph" class="col col-50">
        <div class="list card dashcard">
          <div class="card-image-text">Grondwaterpeil</div>
          <div class="item item-image">
            <img style="filter: blur(2px);" src="./img/grondwater.png">
          </div>
        </div>
      </div>

      <div class="col col-50">
        <div ui-sref="prediction" class="list card dashcard">
          <div class="card-image-text">Verwachtingen</div>
          <div class="item item-image">
            <img style="filter: blur(2px);" src="./img/pexels-photo-186461.jpg">
          </div>
        </div>
      </div>

      <div class="col col-50">
        <div ui-sref="sensor" class="list card dashcard">
          <div class="card-image-text">Eigen Sensor</div>
          <div class="item item-image">
            <img style="filter: blur(2px);" src="./img/pexels-photo-110874.jpg">
          </div>
        </div>
      </div>

      <div class="col col-50">
        <div ui-sref="risks" class="list card dashcard">
          <div class="card-image-text">Risico's</div>
          <div class="item item-image">
            <img style="filter: blur(2px);" src="./img/RinieBoon.jpg">
          </div>
        </div>
      </div>

      <div class="col col-50">
        <div ui-sref="settings" class="list card dashcard">
          <div class="card-image-text">Instellingen</div>
          <div class="item item-image">
            <img style="filter: blur(2px);" src="./img/of.jpg">
          </div>
        </div>
      </div>

      <div class="col col-50">
        <div ui-sref="contactselect" class="list card dashcard">
          <div class="card-image-text">Contact</div>
          <div class="item item-image">
            <img style="filter: blur(2px);" src="./img/black-and-white-city-man-people.jpg">
          </div>
        </div>
      </div>

  </ion-content>
</ion-view>
